<h1><b>Locations Page</b></h1>
<div class="row">
	
		<% @locations.each do |l| %>
			
				<div class="panel panel-default">	
					<h2>Name: <%= l.name %></h2>
					<h2> Address: <%= l.address %></h2>
					<h3> Store Type: <%= l.store_type %></h3>
					<%= link_to "Show Location", location_path(l), class: "btn btn-danger" %>
				</div>
			
		<% end %>

</div>

<h2><%= link_to "Add a new location", new_location_path %></h2>